fastapi
uvicorn
pydantic
pymongo
httpx
PyJWT
pytz
cryptography
python-box
ensure
PyYAML
requests
langchain-chroma
langchain-classic
langchain-core
langchain-community
langchain-google-genai
langsmith
google-generativeai
google-auth
google-cloud-resource-manager
sentence-transformers
nemoguardrails
